In [1]:
import pandas as pd
import numpy as np

In [45]:
sensitive=pd.read_csv('sensitive')
sensitive

      1
0     1
1     1
2     1
3     1
4     1
...  ..
9994  5
9995  5
9996  5
9997  5
9998  5

[9999 rows x 1 columns]

In [6]:
faircluster=pd.read_csv('Faircluster')
faircluster

      5
0     5
1     5
2     5
3     5
4     5
...  ..
9994  4
9995  4
9996  4
9997  4
9998  4

[9999 rows x 1 columns]

In [13]:
adja=pd.read_csv('adja')
adja

,0,0.1,1,1.1,0.2,0.3,0.4,1.2,0.5,0.6,...,0.8413,0.8414,1.1577,1.1578,0.8415,0.8416,0.8417,1.1579,0.8418,0.8419
0,0,0,0,1,0,0,0,1,1,0,...,1,0,0,0,0,0,0,0,0,0
1,1,0,0,0,1,0,0,0,1,0,...,0,0,0,0,0,0,1,0,0,0
2,1,1,0,0,0,1,0,1,0,1,...,0,0,0,1,0,0,0,0,0,0
3,0,0,1,0,0,0,0,1,1,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,1,0,0,0,0,0,1,...,0,0,0,1,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9994,0,0,0,0,0,0,0,0,0,0,...,0,1,1,0,0,0,1,1,0,1
9995,0,0,1,0,0,0,0,0,0,0,...,0,0,1,0,0,1,0,0,0,1
9996,1,0,0,0,0,0,0,0,1,0,...,0,1,0,0,0,1,0,0,1,1
9997,0,0,0,0,0,0,1,0,0,0,...,0,1,0,0,0,0,0,1,0,0
9998,0,0,0,0,0,0,0,0,0,0,...,0,1,0,0,0,1,1,1,0,0

In [22]:
column=np.arange(10000)
adja.columns=column
adja=adja.loc[:,'0':'9998']
adja

,0,1,2,3,4,5,6,7,8,9,...,9989,9990,9991,9992,9993,9994,9995,9996,9997,9998
0,0,0,0,1,0,0,0,1,1,0,...,0,1,0,0,0,0,0,0,0,0
1,1,0,0,0,1,0,0,0,1,0,...,0,0,0,0,0,0,0,1,0,0
2,1,1,0,0,0,1,0,1,0,1,...,0,0,0,0,1,0,0,0,0,0
3,0,0,1,0,0,0,0,1,1,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,1,0,0,0,0,0,1,...,0,0,0,0,1,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9994,0,0,0,0,0,0,0,0,0,0,...,1,0,1,1,0,0,0,1,1,0
9995,0,0,1,0,0,0,0,0,0,0,...,0,0,0,1,0,0,1,0,0,0
9996,1,0,0,0,0,0,0,0,1,0,...,0,0,1,0,0,0,1,0,0,1
9997,0,0,0,0,0,0,1,0,0,0,...,0,0,1,0,0,0,0,0,1,0
9998,0,0,0,0,0,0,0,0,0,0,...,0,0,1,0,0,0,1,1,1,0

In [9]:
labels=pd.read_table('labels')
labels

      1
0     1
1     1
2     1
3     1
4     1
...  ..
9994  5
9995  5
9996  5
9997  5
9998  5

[9999 rows x 1 columns]

array([   0,    1,    2, ..., 9997, 9998, 9999])

In [35]:
# Cluster1 sensitive 1 inner link
adja.iloc[0:400,0:400].sum(axis=0).sum()

63625

In [40]:
#Cluster 1 sensitive 1 to sensitive2 link
adja.iloc[0:400,400:800].sum(axis=0).sum()

32097

In [77]:
#Cluster 1 sensitive2 to sensitive1 link

adja.iloc[400:800,0:400].sum(axis=0).sum()

32012

In [38]:
#Cluster 1 sensitive 2 link
adja.iloc[400:800,400:800].sum(axis=0).sum()

63664

In [41]:
#Cluster 1 sensitive 3 link
adja.iloc[800:1200,800:1200].sum(axis=0).sum()

63496

In [78]:
#Cluster 1 sensitive 4 link
adja.iloc[1200:1600,1200:1600].sum(axis=0).sum()

64179

In [42]:
#Cluster 1 sensitive 1 and sensitive 3 link
adja.iloc[0:400,800:1200].sum(axis=0).sum()

31977

In [43]:
#Cluster 1 sensitive 2 and sensitive 3 link
adja.iloc[400:800,800:1200].sum(axis=0).sum()

31791

In [46]:
#Cluster 1 sensitive 2 and sensitive 4 link
adja.iloc[400:800,1600:2000].sum(axis=0).sum()

32241

In [79]:
#cluster 2 sensitive 1
adja.iloc[2000:2400,2000:2400].sum(axis=0).sum()

64226

In [47]:
sensitive2=pd.read_csv('sensitive2')
faircluster2=pd.read_csv('faircluster2')
adja2=pd.read_csv('adja2')
labels2=pd.read_csv('labels2')

In [52]:
column=np.arange(6000)
adja2.columns=column
adja2=adja2.loc[:,'0':'5998']
adja2

,0,1,2,3,4,5,6,7,8,9,...,5989,5990,5991,5992,5993,5994,5995,5996,5997,5998
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,1,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,1,1,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5994,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
5995,0,0,0,0,0,0,0,0,0,0,...,0,0,1,0,1,0,1,0,0,1
5996,0,0,0,0,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,0
5997,0,0,0,0,0,0,0,0,0,0,...,0,1,0,0,0,0,0,1,0,0
5998,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,1,0,0,0,1,0

      1
0     1
1     1
2     1
3     1
4     1
...  ..
5994  2
5995  2
5996  2
5997  2
5998  2

[5999 rows x 1 columns]

In [59]:
# Cluster 1 sensitive 1 inner link
inner11=adja2.iloc[0:2160,0:2160].sum(axis=0).sum()
inner11

599943

In [60]:
#Cluster 1 sensitive 2 inner link
inner12=adja2.iloc[2160:3600,2160:3600].sum(axis=0).sum()
inner12

264429

In [62]:
#Cluster 1 sensitive 1 to 2 inter link
inter12=adja2.iloc[0:2160,2160:3600].sum(axis=0).sum()
inter12

160031

In [65]:
#Cluster 1 sensitive 2 to 1 inter link
inter21=adja2.iloc[2160:3600,0:2160].sum(axis=0).sum()
inter21

160033

In [71]:
#Cluster 1 link sum
sum1=inter21+inter12+inner12+inner11
sum1_truth=adja2.iloc[0:3600,0:3600].sum(axis=0).sum()
sum1

1184436

In [84]:
#Cluster 2 link sum
sum2=adja2.iloc[3601:5999,3600:5999].sum(axis=0).sum()
sum2

525937

In [85]:
#Cluster 2 sensitive 1 inner link
inner21=adja2.iloc[3601:5040,3601:5040].sum(axis=0).sum()
inner21

266093

In [86]:
#Cluster 2 sensitive 2 inner link
inner22=adja2.iloc[5040:5999,5040:5999].sum(axis=0).sum()
inner22

117388

In [87]:
#Cluster 2 sensitive 1 to 2 inter link

inter212=adja2.iloc[3601:5040,5040:5999].sum(axis=0).sum()
inter212

71160

In [90]:
#Cluster 2 sensitive 2 to 1 inter link
inter221=adja2.iloc[5040:5999,3601:5040].sum(axis=0).sum()
inter221

71079

In [100]:
# cluter1 sensitive1 to cluster 2 sensitive 1
sen11=adja2.iloc[0:2160,3601:5040].sum(axis=0).sum()
sen12=adja2.iloc[3601:5040,0:2160].sum(axis=0).sum()

In [101]:
sen11

278744

In [102]:
sen12

278666

In [103]:
#cluster1 sensitive2 to cluster2 sensitive 2
sen211=adja2.iloc[2160:3600,5040:5999].sum(axis=0).sum()
sen212=adja2.iloc[5040:5999,2160:3600].sum(axis=0).sum()

In [104]:
sen211

123725

In [105]:
sen212

123793

In [91]:
sum2=inter221+inter212+inner22+inner21
sum2_truth=adja2.iloc[3601:5999,3601:5999].sum(axis=0).sum()
sum2==sum2_truth

True

In [58]:
adja2.iloc[3601:5040,3601:5040].sum(axis=0).sum()

266093

In [80]:
a=2160/1440
b=1440/960
a==b

True

In [93]:
cluster2inter=inter221+inter212
cluster1inter=inter12+inter21
cluster2inter/cluster1inter

0.44440799340131976

In [97]:
cluster2inter

142239

In [98]:
cluster1inter

320064

In [108]:
inner11/inner12

2.2688245237852125

In [109]:
inner21/inner22

2.266781953862405

In [110]:
(inter12+inter21)/(inter212+inter221)

2.2501845485415393